<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/handlebars.js"></script>
  <script src="/js/client.js"></script>
</head>
<body>
<h1>Hand Contains</h1>
<div id="hand-tiles" class="clr">{{{render_tiles hand}}}</div>
<div class="small dim br-top">
{{{render_score hand recommended.score}}}
</div>
{{#if msg}}
<h1>{{{msg}}}</h1>
<a href="/game">play again!</a>
{{else}}
<h1>Could throw for shanten: {{shanten}}</h1>
<div class="clr">
    {{#each discards}}
    {{{render_tile this}}}
    {{/each}}
</div>
<h1>AMI suggests</h1>
<div class="clr">
{{{render_tile recommended.discard_tile}}}
</div>
{{/if}}
<div id="hand" data-hand="{{hand}}"></div>
<div id="wall" data-wall="{{wall}}"></div>
<div id="thrown" data-thrown="{{thrown}}"></div>
</body>
</html>
